.zagalovok {
    color: green;
    background-color: #D7FFAB;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    opacity: 0.5;
    box-shadow: 3px 3px 7px #000000;
    text-align: center;
    font-weight: 800;
    transform: scale(0.7);
}

.table {
    color: #000000;
    background-color: #FFEF00;
    border: 1px solid #000000;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 3px 3px 7px #000000;
    text-align: center;
}


body {
    background-image: url('/1.jpeg');
}

.text {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 3px 3px 7px #000000;
}

.niz {
    transition: 1s all;
}

.niz:hover {
    background-color: red;
}